* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background: #EEEEEE;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
    display: flex;
    line-height: 48px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 133px;

    a h2 {
        color: #262C55;
    }

    .nav-list {
        display: flex;
        list-style: none;

        li {
            padding: 22px;
            font-size: 15px;
            color: #262C55;
        }
    }
    
}

// SELL SECTION

.sell {
    padding: 20px 133px;

    .sell-h1 {
        font-size: 100px;
        margin: 0px 0px 30px;

        span {
            color: #FB9129;
        }
    }

    .sell-p {
        font-size: 22px;
        margin: 0 0 40px;
    }
}

// PICCC

.pic {
    display: flex;
    justify-content: space-between;
    
    .img1 {
        display: block;
        width: 100%;
        margin-right: 70px;
        
        img {
            width: 750px;
            height: 700px;
        }
    }
    
    .img2 {
        overflow: hidden;
        display: block;
        width: 100%;
        transform: translateY(-90px);

        img {
            height: 550px;
        }
    }

}

